* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  }

header {
  margin: 0;
  text-align: center;
}

nav {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

h2 a:hover {
  background-color: #b4fc80;
  text-decoration: none;
  color: black;
}

header p {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  display: block;
  padding: 0;
  margin-bottom: -10px;
  -webkit-transition: font-size 1s; /* For Safari 3.1 to 6.0 */
  transition: font-size 1s;
}

nav a {
  text-decoration: none;
  padding-right: 5px;
  padding-left: 5px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: .65em;
  -webkit-transition: font-size 1s; /* For Safari 3.1 to 6.0 */
  transition: font-size 1s;
}

a:hover {
  background-color: #b4fc80;
  text-decoration: none;
  color: black;
}

#active {
  background-color: yellow;
  border-radius: 5px;
}

#about {
  margin: 0;
  width: 100%;
  background-image: url("../img/bg.PNG");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 -15px;
  -webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
  transition: height 1s;
  -webkit-transition: background-position 1s; /* For Safari 3.1 to 6.0 */
  transition: background-position 1s;
}

#gallery {
  margin: 0;
  width: 100%;
  background-image: url("../img/bg_gallery.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 -15px;
  -webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
  transition: height 1s;
  -webkit-transition: background-position 1s; /* For Safari 3.1 to 6.0 */
  transition: background-position 1s;
}

#contact {
  margin: 0;
  width: 100%;
  background-image: url("../img/bg_contact.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 -15px;
  -webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
  transition: height 1s;
  -webkit-transition: background-position 1s; /* For Safari 3.1 to 6.0 */
  transition: background-position 1s;
}

h1 {
  font-family: 'Averia Serif Libre', cursive;
  font-size: 2.25em;
  font-weight: 900;
  line-height: 1em;
  letter-spacing: 1.5px;
  margin: 5px 10px 10px 10px;
  color: white;
  padding: 25px 0;
  text-shadow: 0px 0px 45px #81c8f4;
  -webkit-transition: font-size 1s; /* For Safari 3.1 to 6.0 */
  transition: font-size 1s;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.15em;
  padding: 0;
  margin: 0 0 0 10px;
}

p {
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-weight: 400;
  opacity: 0.85;
  font-size: 1.1em;
  line-height: 1.4;
  padding: 10px;
}

img {
  width: 100%;
  margin: 5px 0;
  display: inline;
  opacity: .95;
}

img:hover {
  opacity: 1;
/*  box-shadow: 0 0 45px black; */
}

.contactlogo {
  width: 120px;
  height: 100px;
  display: inline;
  margin: auto 0;
  text-align: center;
  padding-left: 10px;
}

.col-sm-3 {
  text-align: center;
}

::-moz-selection { /* Code for Firefox */
    background: yellow;
}

::selection {
    background: yellow;
}

@media all and (min-width: 480px) {

   header p { font-size: 4em; }

   nav a {
     font-size: 1em;
     padding: 0 10px 0 10px;
   }

   #gallery {
     background-position: 0 -30px;
     height: 300px;
   }

   #about {
     background-position: 0 -30px;
     height: 300px;
   }

   h1 {
    font-size: 3.5em;
    padding: 45px 0;
   }

   h2 { padding-top: 10px; }

   p {
     padding-bottom: 0;
     font-size: 1.25em;
   }
}

@media all and (min-width: 768px) {

  header { text-align: left; }

  #gallery {
    background-position: 0 -30px;
    height: 600px;
  }

  #about {
    background-position: 0 -30px;
    height: 600px;
  }

  header p {
    padding: 0 45px 0 0;
    margin: 0 0 0 30px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    display: inline;
  }

  nav {
    background-color: white;
    padding: 25px 30px 0 0px;
    display: inline;
    float: right;
  }

  h1 {
    margin-left: 30px;
    font-size: 4.5em;
    padding: 70px 0;
  }

  h2 {
    font-size: 1.5em;
  }

  img { border-radius: 15px; }

  #aboutcontainer {
    padding: 0 20px;
    margin-top: 10px;
  }

  p { font-size: 1.5em; }
}

@media all and (min-width: 820px) {

  div.content {
    background-position: 0 -100px;
    height: 400px;

  }
}
/*

nav {
  background-color: white;
  padding: 0 0 0 30px;
  display: inline;
}

nav a {
  text-decoration: none;
  padding-right: 15px;
  padding-left: 15px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

header p {
  padding: 0 45px 0 0;
  margin: 0 0 0 30px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  display: inline;
}

#active {
  background-color: yellow;
  border-radius: 5px;
}

nav a:hover {
  text-decoration: underline;
}

div.content {
  margin: 0;
  width: 100%;
  height: 400px;
  background-image: url("../img/bg.png");
  background-size: cover;background-position: 0% 30%;

}

p {
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-weight: 400;
  opacity: 0.70;
  font-size: 1.5em;
  line-height: 1.4;
}

h1 {
  font-family: 'Averia Serif Libre', cursive;
  font-size: 4.5em;
  line-height: 1em;
  letter-spacing: 1.5px;
  margin: 0px 0px 0px 30px;
  color: white;
  padding: 70px 0;
  text-shadow: 0px 0px 45px #81c8f4;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}

p a {
  text-decoration: none;
  background-color: yellow;
  padding-right: 5px;
  padding-left: 5px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: .75em;
  text-transform: uppercase;
}

.about {
  width: 33.3%;
  float: left;
  border-left: .5px dotted gray;
  padding: 0px 40px;
}

*/
